<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['workflows']" routerLinkActive="active">Workflows</a></li>
  </ol>
</nav>

<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Instance ID</th>
          <th scope="col">Status</th>
          <th scope="col">Created</th>
          <th scope="col">Started</th>
          <th scope="col">Ended</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let workflow of workflows">
          <th><a [routerLink]="['/workflow', workflow.instance_id]">{{ workflow.name }}</a></th>
          <td>{{ workflow.instance_id }}</td>
          <td><span class="badge badge-secondary">{{ workflow.status }}</span></td>
          <td>{{ workflow.created | date:'yyyy-MM-dd HH:mm a' }}</td>
          <td>{{ workflow.start_timestamp | date:'yyyy-MM-dd HH:mm a' }}</td>
          <td>{{ workflow.end_timestamp | date:'yyyy-MM-dd HH:mm a' }}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div> <!-- ./col -->
</div> <!-- ./row -->


