{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.home{% endtrans %}{% endblock %}

{% block body %}

    {% embed 'layouts/one-col.html.twig' %}

        {% block top %}

            <h2>{% trans %}app.articles{% endtrans %}</h2>

        {% endblock %}

        {% block main %}

            {% if articles|length %}

                <ol>
                    {% for article in articles %}
                        <li>
                            <a href="{{ path('article', {id: article.id}) }}"{% if article.language != lang %} lang="{{ article.language }}"{% if article.language|locale_direction != dir %} dir="{{ article.language|locale_direction }}"{% endif %}{% endif %}>{{ article.title }}</a>
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p>{% trans %}app.no_articles{% endtrans %}</p>
            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}
