{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.home{% endtrans %}{% endblock %}

{% block body %}

    <h2>{% trans %}app.articles{% endtrans %}</h2>

    {% if articles|length %}

        <ol>
            {% for article in articles %}
                <li>
                    <a href="{{ path('article', {id: article.id}) }}"{% if article.language != app.request.locale %} lang="{{ article.language }}" dir="{% trans into article.language %}direction{% endtrans %}"{% endif %}>{{ article.title }}</a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>{% trans %}app.no_articles{% endtrans %}</p>
    {% endif %}

{% endblock %}
