{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.home{% endtrans %}{% endblock %}

{% block body %}

    <h2>{% trans %}app.events{% endtrans %}</h2>

    {% if types|length %}
        {% for type, identifiers in types %}
            {% for identifier, events in identifiers %}
                <h3>{{ ('type.' ~ type)|trans({'%identifier%': identifier}) }}</h3>
                <ol>
                    {% for event in events %}
                        <li>{{ ('event.' ~ event.type)|trans }}
                            <small>{{ event.dateTime|localizeddate }}, {{ event.aggregate.service }}</small>
                        </li>
                    {% endfor %}
                </ol>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>{% trans %}app.no_events{% endtrans %}</p>
    {% endif %}

{% endblock %}
