{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.home{% endtrans %}{% endblock %}

{% block body %}

    <h2>{% trans %}app.events{% endtrans %}</h2>

    <p>{% trans %}app.no_events{% endtrans %}</p>

{% endblock %}
