{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.home{% endtrans %}{% endblock %}

{% block body %}

    <h2>{% trans %}app.events{% endtrans %}</h2>

    {% if events|length %}
        <ol>
            {% for event in events %}
                <li>{{ event.text }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <p>{% trans %}app.no_events{% endtrans %}</p>
    {% endif %}

{% endblock %}
