{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.home{% endtrans %}{% endblock %}

{% block body %}

    <h2>{% trans %}app.runs{% endtrans %}</h2>

    {% if runs|length %}
        {% for run, events in runs %}
            <h3>{{ ('app.run')|trans({'%id%': run}) }}</h3>
            <ol>
                {% for event in events %}
                    <li>{{ ('event.' ~ event.type)|trans }}
                        <small>
                            {% if event.message %}
                                <br>{{ event.message }}
                            {% endif %}
                            <br>{{ event.dateTime|localizeddate }}
                        </small>
                    </li>
                {% endfor %}
            </ol>
        {% endfor %}
    {% else %}
        <p>{% trans %}app.no_runs{% endtrans %}</p>
    {% endif %}

{% endblock %}
