[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

apache-airflow = {extras = ["crypto", "celery", "postgres", "hive", "jdbc", "mysql"], version = "==1.9.0"}
beautifulsoup4 = "*"
boto3 = "*"
celery = {extras = ["redis"], version = "==4.0.2"}
Cython = "*"
ndg-httpsclient = "*"
pika = "*"
pyOpenSSL = "*"
pyasn1 = "*"
pytz = "*"
requests = "*"

[dev-packages]



[requires]

python_version = "3.6"
